<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <ul class="social-links">
                    {{> custom/social-icon}}
                </ul>
				<p>
					Proudly published with <a href="https://ghost.org/" target="_blank">Ghost</a>
					| Theme <a href="https://github.com/kingmj/maple/" target="_blank">Maple</a> by <a
						href="http://weibo.com/jerrymei666" target="_blank">@杰瑞米_大魔王</a>
					<iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="91px"
					        height="20px"
					        src="https://ghbtns.com/github-btn.html?user=kingmj&repo=maple&type=star&count=false">
					</iframe>
				</p>
				<p>梅杰的独立博客<span class="all-rights-reserved">&copy; 2015-2018 • All rights reserved.</span></p>
				<p><a href="http://www.miitbeian.gov.cn/" target="_blank">鄂ICP备17019342</a></p>
			</div>
		</div>
	</div>
</div>

