<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>梅杰的独立博客<span class="all-rights-reserved">&copy; 2016-2017 • All rights reserved.</span></p>
                <p>Theme <a href="">Maple</a> by <a href="http://weibo.com/jerrymei666">@杰瑞米</a>
                    <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="91px"
                            height="20px"
                            src="https://ghbtns.com/github-btn.html?user=kingmj&repo=maple&type=star&count=false">
                    </iframe>
                </p>
                <p>Proudly published with <a href="">Ghost</a></p>
            </div>
        </div>
    </div>
</div>

