<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				{{> recent}}
			</div>
			<div class="col-md-4">
				{{> tag-cloud}}
			</div>
			<div class="col-md-4">
				{{> friend-link}}
			</div>
		</div>
	</div>
</footer>