<footer style="background-image: url({{@blog.url}}/content/images/2017/03/uns12.jpg)" class="site-footer">
	<div class="footer-content container">
		<div class="row">
			<div class="col-md-4">
				<div class="footer-widget-box">
					<div class="widget-title">最新文章</div>
					<div class="widget-content"></div>
				</div>
			</div>
			<div class="col-md-4">标签云</div>
			<div class="col-md-4">订阅</div>
		</div>
	</div>
	<div class="copyright">
		<p>梅杰的独立博客<span>&copy; 2016-2017 • All rights reserved.</span></p>
		<p>Theme <a href="">Maple</a> created by <a href="http://weibo.com/jerrymei666">@杰瑞米</a></p>
		<p>Proudly published with <a href="">Ghost</a></p>
	</div>
</footer>

