<h4 class="footer-content-title">友情链接</h4>
<div class="footer-friend-links">
  {{> custom/friend-link}}
</div>

<!--<h4 class="footer-content-title">微信/公众号</h4>-->
<!--<ul class="footer-follow-social">-->
<!--  <li>-->
<!--    <img src="{{asset 'images/wechat.png'}}" alt="">-->
<!--    <span>微信</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <img src="{{asset 'images/itcat.jpg'}}" alt="">-->
<!--    <span>技术号</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <img src="{{asset 'images/acat.jpg'}}" alt="">-->
<!--    <span>摄影/分享</span>-->
<!--  </li>-->
<!--</ul>-->
