<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-9">
            <nav class="main-nav">
                <ul class="menu">
                    <li><a href="http://www.jianshu.com/u/de95d638b1e8" target="_blank">简书</a></li>
                    <li><a href="/tag/article" target="_blank">CODE</a></li>
                    <li><a href="/tag/life" target="_blank">LIFE</a></li>
                    <li><a href="/tag/smallsecret" target="_blank">SHARE</a></li>
                    <li><a href="/author/kavinbright" target="_blank">关于我</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>