<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-9">
            <nav class="main-nav">
                <ul class="menu">
                    <li><a href="http://www.jianshu.com/u/c7a11d79d777" target="_blank">简书</a></li>
                    <li><a href="http://maplejoyous.lofter.com/" target="_blank">摄影</a></li>
                    <li><a href="/tag/article/" target="_blank">写作</a></li>
                    <li><a href="/tag/bookmarks" target="_blank">收藏</a></li>
                    <li><a href="/author/jerrymei" target="_blank">关于我</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>