<div class="post-list-pagination">
	<nav class="post-navigation">
		<ul class="nav-links">
			<li class="nav-previous {{#unless prev}}invisible{{/unless}}">
				<a href="{{page_url prev}}"><i class="fa fa-long-arrow-left"></i><span>Prev Posts</span></a>
			</li>
			<li><span>Page {{page}} of {{pages}}</span></li>
			<li class="nav-next {{#unless next}}invisible{{/unless}}">
				<a href="{{page_url next}}"><span>Next Posts</span><i class="fa fa-long-arrow-right"></i></a>
			</li>
		</ul>
	</nav>
</div>


