{{!< default}}

<div class="author-page">
	<header>
		<div class="header-top">
			{{navigation}}
		</div>
	</header>

	<div class="author-container">
		<div class="plane-wrapper">
			<img src="{{asset 'images/plane.svg'}}" alt="">
			<div class="rotate-container">
				<img src="{{asset 'images/propeller.svg'}}" alt="">
			</div>
		</div>
	</div>


</div>






