<a href="http://weibo.com/jerrymei666" target="_blank"><i class="fa fa-weibo"></i></a>
<a href="https://github.com/KINGMJ" target="_blank"><i class="fa fa-github"></i></a>
<a href="https://plus.google.com/105363350660486192196" target="_blank">
    <i class="fa fa-google-plus"></i>
</a>
<a href="http://www.linkedin.com/in/%E6%9D%B0-%E6%A2%85-77110410b/" target="_blank">
    <i class="fa fa-linkedin"></i>
</a>