<li><a href="http://weibo.com/jerrymei666" target="_blank" title="微博"><i class="fa fa-weibo"></i></a></li>
<li><a href="https://github.com/KINGMJ" target="_blank" title="github"><i class="fa fa-github"></i></a></li>
<li>
	<a href="https://www.instagram.com/maple.joyous" target="_blank" title="instagram">
		<i class="fa fa-instagram"></i>
	</a>
</li>
<li><a href="https://500px.me/jerrymei" target="_blank" title="500px"><i class="fa fa-500px"></i></a></li>

<!--<li>-->
<!--<a href="https://plus.google.com/105363350660486192196" target="_blank" title="google-plus">-->
<!--<i class="fa fa-google-plus"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="http://www.linkedin.com/in/%E6%9D%B0-%E6%A2%85-77110410b/" target="_blank" title="领英">-->
<!--<i class="fa fa-linkedin"></i>-->
<!--</a>-->
<!--</li>-->


