<li><a href="https://github.com/KINGMJ" target="_blank"><i class="fa fa-github"></i></a></li>
<li><a href="http://weibo.com/jerrymei666" target="_blank"><i class="fa fa-weibo"></i></a></li>
<li><a href="mailto:328047478@qq.com"><i class="fa fa-envelope-o"></i></a></li>
<li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>