/*通用样式*/
body {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: rgb(241, 241, 241);
}

/*a {*/
/*color: #57ad68;*/
/*transition: all ease 0.3s;*/
/*text-decoration: none;*/
/*}*/

/*a:hover {*/
/*color: #57ad68;*/
/*}*/

a {
    color: #179BB2;
    transition: all ease 0.3s;
    text-decoration: none;
}

a:hover {
    color: #179BB2;
}