/*---------------------site_header--------------------*/
.site-header {
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.site-header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.45);*/
    /*background-color: rgba(40,39,44,0.6);*/
    background: linear-gradient(to bottom, rgba(56, 56, 56, .75), rgba(56, 56, 56, .45) 100%);

}

.header-top {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #c2c2c2;
}

.header-middle-content {
    text-align: center;
    padding: 180px 0 200px;
}

.site-title, .site-description {
    font-weight: lighter;
    color: #fff;
    text-shadow: 0 1px 1px #595959;
    letter-spacing: 6px;
}

.site-title {
    font-size: 60px;
}

.site-social-navigation {

}

.site-social-navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.site-social-navigation ul li {
    margin: 0 5px;
}

.site-social-navigation ul li a{
    color: #fff;
    font-size: 30px;
}

.header-middle-content a:hover, .site-description:hover {
    color: #efefef;
    text-shadow: 0 1px 1px #000;
    text-decoration: none;
}

/*--------------------------------nav------------------------------*/

.header-top-menu ul.up-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-top-menu ul.up-menu li {
    color: white;
    display: inline;
    position: relative;
}

.header-top-menu ul.up-menu li a {
    font-weight: normal;
    color: inherit;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 19px 30px;
}

.header-top-menu ul.up-menu li a:hover {
    color: #efefef;
    text-shadow: 0 1px 1px #000;
    text-decoration: none;
}

/*--------------------------------标签云---------------------------------*/

.menu-list {
    display: table;
    margin: auto;
    padding: 0;
    list-style: none;
}

.menu-list > li {
    position: relative;
    float: left;
}

.menu-list > li > a {
    display: block;
    padding: 20px 35px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    vertical-align: middle;
    transform: rotateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
}

.menu-list > li > a {
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.menu-list > li:after {
    color: #fff;
    content: "/";
    position: absolute;
    right: 0;
    top: 21px;
}