/*---------------------site_header--------------------*/
.site-header {
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.site-header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.45);*/
    /*background-color: rgba(40, 39, 44, 0.8);*/
    background: linear-gradient(to bottom, rgba(56, 56, 56, .45), rgba(56, 56, 56, .75) 100%);

}

.header-top {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(14,21,27,0.4);
}

.header-middle {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    align-items: center;
}

.header-middle-content {
    text-align: center;
    margin-top: -60px;
}

.site-title, .site-description {
    font-weight: lighter;
    color: #fff;
    text-shadow: 0 1px 1px #595959;
    letter-spacing: 6px;
}

.site-title {
    font-size: 65px;
}

.site-social-navigation {
    margin-top: 60px;
}

.site-social-navigation ul {
    list-style-type: none;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.site-social-navigation ul li {
    margin: 0 10px;
}

.site-social-navigation ul li a {
    color: #7A8185;
    font-size: 24px;
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.35);
    display: inline-block;
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.header-middle-content a:hover, .site-description:hover {
    color: #efefef;
    text-shadow: 0 1px 1px #000;
    text-decoration: none;
}

/*--------------------------------nav------------------------------*/

.header-top-menu ul.up-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-top-menu ul.up-menu li {
    color: #fff;
    display: inline;
    position: relative;
}

.header-top-menu ul.up-menu li a {
    font-weight: normal;
    color: inherit;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 20px 25px;
}

.header-top-menu ul.up-menu li a:hover {
    color: #efefef;
    text-shadow: 0 1px 1px #000;
    text-decoration: none;
}

/*--------------------------------标签云---------------------------------*/

/*.menu-list {*/
/*display: table;*/
/*margin: auto;*/
/*padding: 0;*/
/*list-style: none;*/
/*}*/

/*.menu-list > li {*/
/*position: relative;*/
/*float: left;*/
/*}*/

/*.menu-list > li > a {*/
/*display: block;*/
/*padding: 20px 35px;*/
/*font-size: 12px;*/
/*font-family: "Montserrat", sans-serif;*/
/*text-transform: uppercase;*/
/*text-decoration: none;*/
/*position: relative;*/
/*vertical-align: middle;*/
/*transform: rotateZ(0);*/
/*box-shadow: 0 0 1px transparent;*/
/*backface-visibility: hidden;*/
/*overflow: hidden;*/
/*white-space: nowrap;*/
/*color: #fff;*/
/*font-weight: bold;*/
/*}*/

/*.menu-list > li > a {*/
/*-webkit-transition: all 0.15s ease 0s;*/
/*transition: all 0.15s ease 0s;*/
/*}*/

/*.menu-list > li:after {*/
/*color: #fff;*/
/*content: "/";*/
/*position: absolute;*/
/*right: 0;*/
/*top: 21px;*/
/*}*/

/*向下的指示器*/
.scroll-down {
    display: block;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 0.4s infinite;
}

.scroll-down:hover {
    color: #efefef;
}

/*bounce动画*/

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
