/*----------------------------------post-------------------------------*/

.site-content {
    padding-top: 48px;
    margin-bottom: 48px;
}

.home-template .site-content {
    min-height: 100vh;
}

.tag-template .site-content {
    min-height: 52vh;
}

.site-content article {
    margin-bottom: 30px;
}

.post {
    padding: 0 15px;
}

.post-card {
    -webkit-box-shadow: 0 2px 2px 0 #dcdcdc;
    -moz-box-shadow: 0 2px 2px 0 #dcdcdc;
    box-shadow: 0 2px 2px 0 #dcdcdc;
}

.post-cover {
    position: relative;
    overflow: hidden;
    height: 280px;
    width: 100%;
}

.post-cover .cover-image {
    display: block;
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.post-cover:hover .cover-image {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.post-cover .cover-transition {
    -webkit-transition: -webkit-transform 1s linear, opacity 1s ease-in-out;
    transition: transform 1s linear, opacity 1s ease-in-out;
}

.post-cover .cover-image:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: -webkit-linear-gradient(to bottom, rgba(56, 56, 56, 0) 0, rgba(56, 56, 56, .25) 100%);
    background: linear-gradient(to bottom, rgba(56, 56, 56, 0) 0, rgba(56, 56, 56, .25) 100%);
    -ms-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.post-cover:hover .cover-image:after {
    background: -webkit-linear-gradient(to bottom, rgba(56, 56, 56, 0) 0, rgba(56, 56, 56, .45) 100%);
    background: linear-gradient(to bottom, rgba(56, 56, 56, 0) 0, rgba(56, 56, 56, .45) 100%);
}

.cover-bottom {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background: linear-gradient(transparent, #2e2e2e);
    padding: 20px 0;
}

/*tag标签样式*/
.post-tags {
    position: absolute;
    left: 10px;
    bottom: 8px;

}

.post-tags a {
    margin-right: 5px;
    padding: 0 6px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .35);
    color: #fff;
    font-size: 13px;

}

.post-tags a:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, .25);
}

/*post详情*/
.post-info {
    background: #fcfcfc;
    position: relative;
    overflow: hidden;
    padding: 20px;
    height: 210px;
}

/*title*/
.post-info .post-title {
    font-size: 18px;
    margin: 0;
    line-height: 1.42857143;
    font-weight: 800;
}

.post-info .post-title a {
    color: #333;
}

.post-info .post-title a:hover {
    color: #179BB2;
    text-decoration: none;
}

/*摘要*/
.post-info .post-summary {
    line-height: 1.6;
    color: #6e6e6e;
    margin: 5px 0;
    word-break: break-all;
    word-wrap: normal;
}

/*发布日期*/
.post-info .post-date {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    color: #717f8e;
    font-size: 12px;
}

.post-info .post-tags-on-content {
    position: absolute;
    bottom: 40px;
}

.post-tags-on-content a {
    margin-right: 10px;
    color: #717f8e;
}

.post-tags-on-content a:hover {
    color: #179BB2;
}

/*.post-cover .cover-content {*/
/*position: absolute;*/
/*width: 100%;*/
/*bottom: 0;*/
/*}*/

/*.post-cover .cover-content .post-title a {*/
/*font-size: 27px;*/
/*line-height: 30px;*/
/*font-weight: normal;*/
/*color: #fff;*/
/*display: block;*/
/*padding: 7px 28px;*/
/*text-decoration: none;*/
/*}*/

/*.post-cover .cover-content .post-meta {*/
/*position: relative;*/
/*color: #fff;*/
/*display: inline-block;*/
/*padding: 0 28px 16px;*/
/*}*/

/*.post-desc {*/
/*list-style: none;*/
/*padding: 0;*/
/*margin: 15px 28px 0;*/
/*}*/

/*.post-desc li {*/
/*color: #888;*/
/*display: inline;*/
/*}*/

/*.post-desc li a {*/
/*color: rgba(0, 0, 0, .5);*/
/*font-weight: 700;*/
/*}*/

/*.post-desc li a img {*/
/*height: 26px;*/
/*width: 26px;*/
/*border-radius: 13px;*/
/*margin-right: 8px;*/
/*}*/

/*-----------------------pagination---------------------*/

.post-list-pagination {
    padding: 0 10px;
    margin-top: 30px;
}

.post-list-pagination .post-navigation {
    margin: 0 15px;
}

.post-list-pagination .post-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    color: #828282;
}

.post-list-pagination .post-navigation ul li {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 0.15em;
}

.post-list-pagination .post-navigation ul li a {
    color: #828282;
    display: block;
    padding: 0 2px;
    position: relative;
    transition: all 0.20s ease 0s;
    -webkit-transition: all 0.20s ease 0s;
}

.post-list-pagination .post-navigation ul li a span {
    padding: 0 8px;
}

.post-list-pagination .post-navigation ul li a:hover {
    color: #96cac6;
    text-decoration: none;
}

.post-list-pagination .post-navigation ul li.nav-previous {
    float: left;
    margin-top: 2px;
}

.post-list-pagination .post-navigation ul li.nav-next {
    float: right;
    margin-top: 2px;
}