@background-color: #F1F1F1;

@nav-bg-color: rgba(14, 21, 27, 0.4);
@nav-border-color: rgba(0, 0, 0, 0.3);

@text-shadow-color: #595959;
@text-shadow-hover-color: #000;

@copyright-bg-color: #2D2D2D;
@footer-bg-color: #0E151B;

//文字颜色
@font-white-color: #FFF;
@font-grey-color: #909090;
@header-font-hover-color: #EFEFEF;
@link-color: #179BB2;