/*标签云*/
.page-tag_cloud .site-content{
  min-height: 36vh;
  margin-bottom: 0;
  padding: 24px 0;
  a{
    color: #fff;
    margin: 0 6px;
    padding: 0 6px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 24px;
    span.count{
      margin-left: 6px;
    }
  }
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}