/*标签云*/
.page-tags .site-content{
  min-height: 36vh;
  margin-bottom: 0;
  padding: 24px 0;
  a.tag{
    color: #fff;
    margin: 0 6px 8px;
    padding: 0 6px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 24px;
    span.count{
      margin-left: 6px;
    }
  }
}

.tag-posts{
  margin: 24px 0;
  span+span{
    visibility: hidden;
  }
  .tag-title{
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin: 12px 0;
    display: inline-block;
    &:before{
      content: '#';
      position: relative;
      left: -10px;
    }
  }
  ul{
    margin: 12px 0;
  }
}